*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PPeditorial-Regular";
  src: url(../public/fonts/PPEditorialNew-Regular.woff2);
}
@font-face {
  font-family: "PPeditorial-light";
  src: url(../public/fonts/PPEditorialNew-Light.woff2);
}

@font-face {
  font-family: "PPeditorial-italic";
  src: url(../public/fonts/PPEditorialNew-Italic.woff2);
}
@font-face {
  font-family: "PPeditorial-lightItalic";
  src: url(../public/fonts/PPEditorialNew-LightItalic.woff2);
}
@font-face {
  font-family: "PPmontreal-Med";
  src: url(../public/fonts/PPNeueMontreal-Medium.woff2);
}
@font-face {
  font-family: "PPmontreal-reg";
  src: url(../public/fonts/PPNeueMontreal-Regular.woff2);
}



html,body{
  width: 100%;
  height: 100%;
}
/* 
.no-scroll{
  overflow: hidden;
} */
:root{
  --bodyColor: #B0B0A6;
  --mainContainerColor: #C1C0B6;
  --fontColor: #3F3B37;
  --transitionColor: #3f3b37;
  --secondFontColor: #3F3B37;
}




body{
  background-color: var(--bodyColor);
  padding: .8rem
}

.main{
  width: 100%;
  background-color: var(--mainContainerColor);
  border-radius: 28px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  overflow: hidden;
}

.main-container{
  padding-top: 0.5rem;
  font-family: "PPeditorial-light";
  font-size: 110px;
  color: var(--fontColor);
  /* height: 100vh; */
  width: 100%;
}
.main-container div{
  height: 110px;
  overflow: hidden;
}
.firstHeadingContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  line-height: 0.9;
  font-family: "PPeditorial-light";
  font-size: 110px;
  color: #3F3B37;
}

/* letter styling */
        .firstHeadingContainer .left span:nth-child(2){
          font-family: "PPeditorial-lightItalic";
        }

        .firstHeadingContainer .right span:nth-child(3){
          font-family: "PPeditorial-lightItalic";
        }
        .firstHeadingContainer .right span:last-child{
          font-family: "PPeditorial-lightItalic";
        }
        .firstHeadingContainer .left span:nth-child(6){
          font-family: "PPeditorial-lightItalic";
        }


.firstHeadingContainer div span{
  letter-spacing: -3px;
}

.firstHeadingContainer .right{
  padding-right: 160px;
}

.main-container div{
  display: flex;
  justify-content: space-between;
}
.main-container>div{
  border-bottom: 1.2px solid var(--fontColor);

}

.main-container span{
  margin-top: 110px;
}

.secondHeadingContainer{
    position: relative;
    padding: 5px;
    overflow: hidden;
    line-height: 0.9;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.secondHeadingContainer .right{
  padding: 0;
}



.secondHeadingContainer .loader{
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  font-size: 110px;
}

.loader div{
  width: 60%;
  display: flex;
  justify-content: center;
}


.thirdHeadingContainer .right{
  padding-right: 1.4rem;
}

.thirdHeadingContainer{
  line-height: 0.9;
}
.fourthHeadingContainer{
  line-height: 1;
}
.fourthHeadingContainer .right span:nth-child(2){
  padding-right: 20px;
}

.fourthHeadingContainer .left span:first-child{
  text-transform: uppercase;
}
.fourthHeadingContainer .right span:nth-child(4){
  text-transform: uppercase;
} 
.secondHeadingContainer,.thirdHeadingContainer,.fourthHeadingContainer{
  font-family: "PPmontreal-reg";
}

.secondHeadingContainer div span{
  margin-right: -6px;
}
.thirdHeadingContainer div span{
  margin-right: -6px;
}
.fourthHeadingContainer div span{
  margin-right: -6px;
}



/* card styling */

.card{
  width: 13rem;
  max-height: 100%;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  transition: .4s cubic-bezier(.215,.61,.355,1), 0s;
  transition-delay: .15s,0s;
  border-bottom-right-radius: 2.2rem;
  background-color: rebeccapurple;
  display: flex;
  align-items: flex-end;  
}


.information{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}



/*  about section */
.about-section{
  width: 100%;
  padding: 100px 40px 40px;
  display: flex;
  font-family: "PPmontreal-reg";  
  color: var(--secondFontColor);
  font-weight: 400;
  font-size: 16px;
}

.about-section .leftInfo{
  font-size: 25px;
  font-family: "PPeditorial-Regular";
  font-weight: 400;
  width: 40%;
}

#great{
  font-family: "PPeditorial-italic";
}
.about-section .rightInfo{
  padding: 0 19vw;
  /* background-color: red; */
}

.companies-container{
  padding: 10vw 0;
  width: 100%
}
.company{
  width: 100%;
  /* background-color: green; */
}
.company td{
  /* background: yellow; */
  border-bottom:1px solid #3F3B37;
}
.company td:first-child{
  width: 40%;
}

.company td:not(:first-child){
  width: 40%;
}
.company td:last-child{
  width: 10%;
}



/* work section styles */
.work-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PPmontreal-Reg";
  font-size: 110px;
  font-weight: 400;
  height: 400px;
  letter-spacing: -4px;
  color: var(--fontColor);
}

.work-section span{
  display: inline-block;
  margin-top: 110px;
}
.work-section div{
  width: 100%;
  line-height: 0.9;
  border-bottom: 1px solid var(--fontColor);
  height: 110px;
  overflow: hidden;
}

.work-section div:nth-child(2){
  display: flex;
  justify-content: right;
  padding: 0 20px;
}


.work-section div:nth-child(3){
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
 


.project-section{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.pr-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem;
  min-height: 16.8rem;
  padding: 2rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  overflow: hidden;
} 

.top-section,.bottom-section{
  display: flex;
  justify-content: space-between;
}

.pr-card .pr-hidden-text{
  position: absolute;
  bottom: 1rem;
  /* top: 80%; */
  height: 250px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden; 

}

.pr-hidden-text div{
  text-transform: "lowercase";
  font-family: "PPmontreal-reg";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: fit-content; */
  position: relative;
  top: 100%;
  transform: rotate(10deg);
  flex-shrink: 0;
  font-size: 231px;
  cursor: pointer;

}

/* .pr-hidden-text div::after{
} */

/* start from first col and takes two columns */
.span-col-1-2{
  grid-column: 1/3;
}

/* start from third col and takes two columns */
.span-col-3-2{
  grid-column: 3/5;
}


/* start from first col and takes three columns */
.span-col-1-3{
  grid-column: 1/4;
}

/* start from fourth col and takes two columns */
.span-col-4-2{
  grid-column: 4/6;
}

.span-col-3-3{
  grid-column: 3/6;
}

.span-col-2-2{
  grid-column: 2/4;
}




/* MOUSE FOLLOWEE */

.mouse-follower{
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-radius: 100%;
  background-color: var(--bodyColor);
  user-select: none;
  pointer-events: none;
  transition: all ease-out .3s;
  opacity: 0;
}








