*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PPeditorial-Regular";
  src: url(../public/fonts/PPEditorialNew-Regular.woff2);
}
@font-face {
  font-family: "PPeditorial-light";
  src: url(../public/fonts/PPEditorialNew-Light.woff2);
}

@font-face {
  font-family: "PPeditorial-italic";
  src: url(../public/fonts/PPEditorialNew-Italic.woff2);
}
@font-face {
  font-family: "PPeditorial-lightItalic";
  src: url(../public/fonts/PPEditorialNew-LightItalic.woff2);
}
@font-face {
  font-family: "PPmontreal-Med";
  src: url(../public/fonts/PPNeueMontreal-Medium.woff2);
}
@font-face {
  font-family: "PPmontreal-reg";
  src: url(../public/fonts/PPNeueMontreal-Regular.woff2);
}


html,body{
  width: 100%;
  height: 100%;
}


:root{
  --bodyColor: #B0B0A6;
  --mainContainerColor: #C1C0B6;
  --fontColor: #3F3B37;
  --transitionColor: #3f3b37;
}


body{
  background-color: var(--bodyColor);
  padding: 10px;
}

.main{
  background-color: var(--mainContainerColor);
}

.main-container{
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-family: "PPeditorial-light";
  font-size: 110px;
  color: var(--fontColor);
  height: 100vh;

}

.firstHeadingContainer{
  width: 100%;
  height: 120px;
  line-height: 1.2;
  font-family: "PPeditorial-light";
  font-size: 110px;
  display: flex;
  justify-content: space-between;
  color: #3F3B37;
  overflow: hidden;
}

.firstHeadingContainer .left span:nth-child(2){
  font-family: "PPeditorial-lightItalic";
}

.firstHeadingContainer .right span:nth-child(3){
  font-family: "PPeditorial-lightItalic";
}


.firstHeadingContainer div span{
  margin-right:-4px;
  margin-top: 110px;
}

.main-container div{
  display: flex;
  justify-content: space-between;
}

.main-container span{
  margin-top: 110px;
}
.main-container div{
  height: 110px;
  overflow: hidden;
}
.secondHeadingContainer{
    position: relative;
    padding: 5px;
    overflow: hidden;
    line-height: 0.9;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}



.secondHeadingContainer .loader{
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  font-size: 110px;
}

.loader div{
  width: 60%;
  display: flex;
  justify-content: center;
}

.fourthHeadingContainer .right span:nth-child(2){
  padding-right: 20px;
} 
.secondHeadingContainer,.thirdHeadingContainer,.fourthHeadingContainer{
  font-family: "PPmontreal-reg";
}

.secondHeadingContainer div span{
  margin-right: -6px;
}
.thirdHeadingContainer div span{
  margin-right: -6px;
}
.fourthHeadingContainer div span{
  margin-right: -6px;
}
/* card styling */

.card{
  width: 13rem;
  max-height: 100%;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  transition: .4s cubic-bezier(.215,.61,.355,1), 0s;
  transition-delay: .15s,0s;
  border-bottom-right-radius: 2.2rem;
  background-color: rebeccapurple;
  display: flex;
  align-items: flex-end;  
}


.information{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}